@charset "utf-8";
.headshot-container {
    position: relative;
    // height: 100%;
    overflow: visible;
    margin: auto 0;
    img {
        top: 0;
        left: 0;
        max-height: 100%;
        max-width: 100%;
    }
    .headshot {
        mask-image: url(/images/blob.svg);
        -webkit-mask-image: url(/images/blob.svg);
        mask-repeat: no-repeat;
        mask-position: center bottom;
        position: relative;
        z-index: -1;
    }
    .blob {
        position: absolute;
        z-index: -2;
    }
    .shadow {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: -3;
        box-shadow: 0 0 100px 100px rgba(0, 0, 0, 0.5);
    }
}